@inherits LayoutComponentBase

<header class="app-header">
    <span class="app-title">AI-Copyright Reproducibility &mdash; Results Viewer</span>
    <a class="header-link" href="/" target="_top">Documentation</a>
</header>

<div class="layout">
    @Body
</div>
